@import url('file:///home/amolinae/.cache/wal/colors-waybar.css');

* {
	font-family: "Inconsolata Nerd Font";
	min-height: 0;
	font-size: 97%;
	font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
	all: initial;
}

#waybar.empty, 
#waybar.tiled, 
#waybar.floating {
	background-color: transparent;
}

window#waybar,
window#waybar.empty,
window#waybar.empty #window {
	background-color: transparent;
	padding: 0px;
	border: 0px;
}

.modules-right {
	background-color: @color0;
	border-bottom: 2.5px solid @color2;
	border-left: 2.5px solid @color2;
	border-right: 2.5px solid @color2;
	border-radius: 0px 0px 15px 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-center {
	background-color: @color0;
    border-bottom: 2.5px solid @color2;
	border-left: 2.5px solid @color2;
	border-right: 2.5px solid @color2;
	border-radius: 0px 0px 15px 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

.modules-left {
	background-color: @color0;
	border-bottom: 2.5px solid @color2;
	border-left: 2.5px solid @color2;
	border-right: 2.5px solid @color2;
	border-radius: 0px 0px 15px 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 4px;
	padding-left: 4px;
}

#backlight, #battery,
#clock, #cpu,
#custom-hostname, #language,
#memory, #mpris,
#network, #tray,
#wireplumber, #window,
#workspaces {
	color: @foreground;
	padding-top: 2px;
	padding-bottom: 4px;
	padding-right: 6px;
	padding-left: 6px;
	transition: none;
}

#workspaces button {
	color: @foreground;
	margin-right: 0.5px;
	margin-left: 0.5px;
	padding: 0px 4px 0px 4px;
}

#workspaces button.active {
	color: @foreground;
	border-radius: 15%;
	background-color: @color2;
	padding: 0px 4px 0px 4px;
}

#workspaces button:hover {
	color: @foreground;
	background-color: @color1;
	border-radius: 15%;
	transition: none;
}
