@import url('file:///home/amolinae/.cache/wal/colors-waybar.css');

* {
    font-family: "Inconsolata Nerd Font";
    font-size: 13px;
    border-radius: 0;
}

window#waybar { 
    background: @color1; 
    color: @foreground;    
}

.modules-left {
	background-color: @color0;
	padding: 0px 0px 0px 0px;
}

.modules-right {
	background-color: @color0;
	padding: 0px 5px 0px 0px;
}

#custom-makima {
	background-color: @color0;
	color: @foreground;
     	padding: 0px 8px 0px 8px;
}

#workspaces button {
	padding: 0px 11px 0px 11px; 
 	min-width: 1px;
	color: @foreground;
	transition: none;
}

#workspaces button.active { 
	padding: 0px 11px 0px 11px; 
	background-color: @color1;
	color: @foreground;
	font-weight: bold;
}

#workspaces button:hover {
	color: @color1;
	background-color: @color0;
	border: 1.5px solid @color1;
}

#window {
	 color: @foreground;
	 background-color: @color1;
         padding: 0px 10px 0px 10px;
}

window#waybar.empty #window {
	background-color: transparent;
	color: transparent;
}

window#waybar.empty {
	background-color: @color0;
}

#network,
#backlight, 
#wireplumber, 
#battery {
    padding: 0px 15px 0px 15px;
}
    

#clock {
	margin: 0px 15px 0px 15px;
}

#tray{
   padding: 0px 8px 0px 5px;
   margin: 0px 5px 0px 5px;
}

#battery.critical {
   color: #ff5555;
}

#network.disconnected {
    color: #ff5555;
}
